PORT=8080
MONGODB_URI=mongodb+srv://Raghubar:RAGHUBAR@cluster0.z3fymw0.mongodb.net

CORS_ORIGIN=*

ACCESS_TOKEN_SECRET =fihjiasfbuhasbifhsafkasjngasmfk
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=askmflkasfgasg
REFRESH_TOKEN_EXPIRY=10d